<!-- Section Start - Informations -->
<section class='bg-primary services max-width-100  ' id='services'>
    <div class="container">  
        <div class="row">
            <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12">
                <h1 class="heading text-white left-align">INFORMATIONS</h1>
                <div class="headul white left-align"></div>
                <p class="subheading text-white left-align">Lutte contre les chenilles processionnaires</p>
                <p class="justify-align">La chenille processionnaire du pin s'attaque aux aiguilles de nombreuses espèces de pins (pin sylvestre, pin noir et blanc, pin maritime) et parfois aux cèdres.</p>
                <p class="justify-align">Les chenilles processionnaires représentent un danger pour les enfants, les adultes, mais aussi les animaux domestiques. Elles fabriquent une toxine urticante appelée thaumétopoéine qui provoque des réactions allergiques.</p>
                <p class="justify-align">En cas de fortes démangeaisons ou de rougeurs suite à une exposition aux chenilles, contactez rapidement votre médecin.</p>
            </div> 
            <div class="col-lg-7 col-md-10 col-md-offset-1 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 service-tablets">
                <!--<div class="tablet-black inviewport animated delay1" data-effect="fadeInRight">
                    <img alt="tablet-black" src="img/tablet-black-yellow.png" class="style-dependent img-responsive">
                </div>-->
                <div class="tablet-white inviewport animated delay2" data-effect="fadeInRight">
                    <img alt="Frelon Vespa Velutina" src="img/frelon_vespa_velutina.png" class="style-dependent img-responsive">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Section End - Informations -->